* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

body {
    background-color: rgba(38, 255, 0, 0.482);
}

.box {
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin: 100px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 90%;
    gap: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid black;
}
button{
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 12px;
    background-color: green;
    color: white;
}
#qr{
    width: 200px;
    height: 200px;
    border: 1px solid black;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}